// Import mixins and variables
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

main {
  margin-top: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parent-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.main-card {
  flex: 1 1 280px;
  max-width: 30%;
  height: 300px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.header-container {
  display: flex;
  justify-content: flex-start;
  padding: 5px 0 5px 5px;
  gap: 5px;
}

.header-icon {
  font-size: 12px;
  margin-top: 5px;
}

.trending-coins {
  gap: 20px;
  padding: 0 10px;
}
.trending-defi {
  gap: 20px;
  padding: 0 10px;
}

.coin-card-item {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.coin-info {
  gap: 10px;
  width: 80%;
  display: flex;
  align-items: center;

  gap: 20px;
}
.coin-info-logo {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}
.coin-info-index,
.coin-info-symbol {
  display: inline-block;
  font-size: 1.2rem;
}
.coin-price {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 830px) {
  .main-card {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
  }
}

.all-crypto-container {
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
}

.tab {
  width: 100%;
  border-bottom: 1px solid gray;
  height: 40px;
}
.tab-title {
  width: 100px;
  height: 40px;
  border-bottom: 3px solid blue;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.td{
vertical-align: middle;
}


.all-coin-crypto-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.last-seven-days {
  padding: 0px !important;
}
.weekly-chart {
  width: 100px;
  height: 100px;
}

.canvas-weekly{
  width: 100px;
  height: 50px;
  vertical-align: middle;
}